## 1. Create a list of 5 numbers and print the second element.

In [1]:
my_list = [10, 20, 30, 40, 50]
print(my_list[1])

20

## 2. Add a new element to a list.

In [2]:
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

## 3. Replace the first element of a list with 100.

In [3]:
my_list = [10, 20, 30]
my_list[0] = 100
print(my_list)

[100, 20, 30]

## 4. Create a tuple and try to change a value. What happens?

In [4]:
my_tuple = (1, 2, 3)
try:
    my_tuple[0] = 100
except TypeError as e:
    print(f"Error: {e}")

Error: 'tuple' object does not support item assignment

As shown above, trying to change a value in a tuple results in a `TypeError`. This is because tuples are **immutable**, meaning their elements cannot be changed, added, or removed after the tuple's creation.

## 5. Convert a list into a tuple.

In [5]:
my_list = [1, 2, 3]
my_tuple = tuple(my_list)
print(my_tuple)
print(f"Type of my_tuple: {type(my_tuple)}")

(1, 2, 3)
Type of my_tuple: <class 'tuple'>

## 6. Convert a tuple into a list.

In [6]:
my_tuple = (1, 2, 3)
my_list = list(my_tuple)
print(my_list)
print(f"Type of my_list: {type(my_list)}")

[1, 2, 3]
Type of my_list: <class 'list'>

## 7. Remove duplicates from a list using set.

In [7]:
my_list_with_duplicates = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(my_list_with_duplicates))
print(unique_list)

[1, 2, 3, 4, 5]

## 8. Create a dictionary and print a value using its key.

In [8]:
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
print(f"Name: {my_dict['name']}")

Name: Alice

## 9. Add a new key:value pair to a dictionary.

In [9]:
my_dict = {"name": "Alice", "age": 30}
my_dict["city"] = "London"
print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'London'}

## 10. Change a value in a dictionary.

In [10]:
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
my_dict["age"] = 31
print(my_dict)

{'name': 'Alice', 'age': 31, 'city': 'New York'}

## 11. Loop through a list and print all elements.

In [11]:
my_list = ["apple", "banana", "cherry", "date"]
for item in my_list:
    print(item)

apple
banana
cherry
date

## 12. Count how many times a number appears in a list.

In [12]:
my_list = [1, 2, 3, 2, 1, 2, 4, 2]
number_to_count = 2
count = my_list.count(number_to_count)
print(f"The number {number_to_count} appears {count} times in the list.")

The number 2 appears 4 times in the list.

## 13. Reverse a list.

In [13]:
my_list = [1, 2, 3, 4, 5]
my_list.reverse() # Reverses the list in-place
print(f"In-place reversed list: {my_list}")

# Alternative: create a new reversed list without modifying the original
original_list = [6, 7, 8, 9, 10]
new_reversed_list = original_list[::-1]
print(f"New reversed list: {new_reversed_list}")
print(f"Original list remains: {original_list}")

In-place reversed list: [5, 4, 3, 2, 1]
New reversed list: [10, 9, 8, 7, 6]
Original list remains: [6, 7, 8, 9, 10]

## 14. Sort a list.

In [14]:
my_list = [5, 2, 8, 1, 9]
my_list.sort() # Sorts the list in-place
print(f"In-place sorted list: {my_list}")

# Alternative: create a new sorted list without modifying the original
unsorted_list = [10, 3, 7, 6, 4]
new_sorted_list = sorted(unsorted_list)
print(f"New sorted list: {new_sorted_list}")
print(f"Original list remains: {unsorted_list}")

In-place sorted list: [1, 2, 5, 8, 9]
New sorted list: [3, 4, 6, 7, 10]
Original list remains: [10, 3, 7, 6, 4]

## 15. Check if a value exists in a list.

In [15]:
my_list = ["apple", "banana", "cherry"]

# Check for an existing value
if "banana" in my_list:
    print("\"banana\" exists in the list.")
else:
    print("\"banana\" does not exist in the list.")

# Check for a non-existing value
if "grape" in my_list:
    print("\"grape\" exists in the list.")
else:
    print("\"grape\" does not exist in the list.")

"banana" exists in the list.
"grape" does not exist in the list.

## 16. Create a set and add a new value.

In [16]:
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)

{1, 2, 3, 4}

## 17. Show that set does not allow duplicates.

In [17]:
my_set = {1, 2, 3}
print(f"Initial set: {my_set}")
my_set.add(2) # Attempt to add an existing element
my_set.add(5) # Add a new element
print(f"Set after adding 2 (again) and 5: {my_set}")

Initial set: {1, 2, 3}
Set after adding 2 (again) and 5: {1, 2, 3, 5}

As you can see, even after trying to add `2` again, the set `{1, 2, 3}` remains `{1, 2, 3}` (or `{1, 2, 3, 5}` when `5` is added), demonstrating that sets only store unique elements. Duplicates are automatically ignored.

## 18. Join two lists.

In [18]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
joined_list = list1 + list2
print(joined_list)

[1, 2, 3, 4, 5, 6]

## 19. Convert string "21" to integer and add 5.

In [19]:
str_num = "21"
int_num = int(str_num)
result = int_num + 5
print(f"Result: {result}")
print(f"Type of result: {type(result)}")

Result: 26
Type of result: <class 'int'>

## 20. Count vowels in a string.

In [20]:
my_string = "Hello World! This is a Test String."
vowels = "aeiouAEIOU"
vowel_count = 0
for char in my_string:
    if char in vowels:
        vowel_count += 1
print(f"The number of vowels in '{my_string}' is: {vowel_count}")

The number of vowels in 'Hello World! This is a Test String.' is: 8