In [10]:
import pandas as pd
import numpy as np
num_students = 1000
num_subjects = 8
np.random.seed (42)

# Create student names
students = [f"Student_{i+1}" for i in range(num_students)]
# Create subjects
subjects = [f"Subject_{j+1}" for j in range(num_subjects)]
# Generate random grades (0-100)
grades = np.random.randint(40, 100, size=(num_students, num_subjects))
# Create DataFrame
df = pd.DataFrame (grades, columns=subjects)
df.insert(0, "Name", students)
print("=== SAMPLE OF RAW DATA ")
print(df.head(), "\n")

=== SAMPLE OF RAW DATA
        Name  Subject_1  Subject_2  Subject_3  Subject_4  Subject_5  \
0  Student_1         78         91         68         54         82
1  Student_2         97         58         62         50         50
2  Student_3         79         63         42         61         92
3  Student_4         69         77         41         99         60
4  Student_5         61         83         64         88         66

   Subject_6  Subject_7  Subject_8
0         47         60         78
1         63         92         75
2         41         63         83
3         72         51         97
4         98         81         67

In [11]:
# Average per student
df ["Average"] = df [subjects].mean(axis=1).round(2)
# Grade classification
def grade_class(avg):
    if avg >= 90: return "A+"
    elif avg >= 80: return "A"
    elif avg >= 70: return "B"
    elif avg >= 60: return "C"
    elif avg >= 50: return "D"
    else:
        return "F"
df ["Grade"] = df ["Average"].apply(grade_class)

In [12]:
print("=== CLASS STATISTICS ===")
print("Total students:", len(df))
print("Average score overall:", df [subjects].values.mean().round(2))
print("Highest average:", df ['Average'].max())
print("Lowest average:", df ['Average'].min())
print("Number of A+ students:", (df ['Grade'] == "A+").sum(), "\n")

=== CLASS STATISTICS ===
Total students: 1000
Average score overall: 69.84
Highest average: 88.5
Lowest average: 51.62
Number of A+ students: 0

In [13]:
print("=== SUBJECT-WISE STATISTICS =")
subject_summary = df [subjects].describe().round(2)
print(subject_summary, "\n")

=== SUBJECT-WISE STATISTICS =
       Subject_1  Subject_2  Subject_3  Subject_4  Subject_5  Subject_6  \
count    1000.00    1000.00    1000.00    1000.00    1000.00    1000.00
mean       70.72      69.05      69.14      70.19      69.34      69.93
std        17.07      17.30      17.35      17.21      17.27      17.71
min        40.00      40.00      40.00      40.00      40.00      40.00
25%        57.00      54.00      55.00      56.00      54.00      55.00
50%        71.00      68.00      68.00      71.00      69.00      71.00
75%        86.00      85.00      84.00      84.00      84.00      85.00
max        99.00      99.00      99.00      99.00      99.00      99.00

       Subject_7  Subject_8
count    1000.00    1000.00
mean       69.78      70.59
std        17.33      17.24
min        40.00      40.00
25%        55.00      56.00
50%        71.00      71.00
75%        85.00      86.00
max        99.00      99.00

In [14]:
top_students = df.nlargest (10, "Average") [["Name", "Average", "Grade"]]
bottom_students = df.nsmallest (10, "Average") [["Name", "Average", "Grade"]]
print("=== TOP 10 STUDENTS ===")
print(top_students, "\n")
print("=== BOTTOM 10 STUDENTS ===")
print(bottom_students, "\n")

=== TOP 10 STUDENTS ===
            Name  Average Grade
998  Student_999    88.50     A
466  Student_467    88.12     A
739  Student_740    88.00     A
646  Student_647    87.25     A
457  Student_458    85.88     A
779  Student_780    85.88     A
869  Student_870    85.62     A
328  Student_329    84.75     A
405  Student_406    84.62     A
626  Student_627    84.62     A

=== BOTTOM 10 STUDENTS ===
            Name  Average Grade
480  Student_481    51.62     D
810  Student_811    52.62     D
156  Student_157    53.62     D
382  Student_383    54.25     D
592  Student_593    54.62     D
719  Student_720    54.75     D
15    Student_16    54.88     D
973  Student_974    55.12     D
394  Student_395    55.50     D
294  Student_295    56.00     D

In [15]:
print("=== EXTRA FUN ANALYSIS ===")
# Correlation between subjects
corr = df[subjects].corr().round(2)
print("Subject Correlation Matrix:")
print(corr, "\n")
# Which subject has the highest mean?
highest_mean_subject = df[subjects].mean().idxmax()
print(f"Subject with highest average score: {highest_mean_subject}")
# Which subject has the most failing grades (<50)
fail_counts = (df [subjects] < 50).sum()
worst_subject = fail_counts.idxmax()
print(f"Subject with most fails: {worst_subject} ({fail_counts[worst_subject]} fails)\n")

=== EXTRA FUN ANALYSIS ===
Subject Correlation Matrix:
           Subject_1  Subject_2  Subject_3  Subject_4  Subject_5  Subject_6  \
Subject_1       1.00      -0.04       0.05      -0.03      -0.02      -0.01
Subject_2      -0.04       1.00       0.03      -0.01       0.01      -0.02
Subject_3       0.05       0.03       1.00       0.03       0.01       0.02
Subject_4      -0.03      -0.01       0.03       1.00      -0.09       0.00
Subject_5      -0.02       0.01       0.01      -0.09       1.00       0.03
Subject_6      -0.01      -0.02       0.02       0.00       0.03       1.00
Subject_7       0.00       0.02       0.04       0.01      -0.03      -0.01
Subject_8       0.02       0.01       0.02       0.04       0.02       0.01

           Subject_7  Subject_8
Subject_1       0.00       0.02
Subject_2       0.02       0.01
Subject_3       0.04       0.02
Subject_4       0.01       0.04
Subject_5      -0.03       0.02
Subject_6      -0.01       0.01
Subject_7       1.00       0.05
Subject_8       0.05       1.00

Subject with highest average score: Subject_1
Subject with most fails: Subject_3 (173 fails)

In [17]:
df.to_csv("student_results.csv", index=False)
print("Data saved to 'student_results.csv'")
print("\n=== PROGRAM COMPLETE ===")

Data saved to 'student_results.csv'

=== PROGRAM COMPLETE ===